<div class=form>
  <h1 class="my-5">CONTACT</h1>
  <%= form_for :email, url: create_email_path do |f| %>
    <%= f.text_field :email, size: 60, placeholder: ' enter your emailadress', class: "field" %>
    <p><%= f.text_field :title, size: 60, placeholder: ' enter title', class: "field" %></p>
    <p><%= f.text_area :content, size: "60x10", placeholder: ' enter content', class: "field" %></p>
    <%= f.submit "Send email", class: "btn btn-outline-secondary mb-5"  %>
  <% end %>
</div>
