<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <meta charset="utf-8">
   <%# <link rel="stylesheet" href="css/style.css"> %>
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <script src="https://kit.fontawesome.com/dcf80952ee.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="nav-header">
        <div class="text">
          PORTFOLIO
        </div>
      </div>  
      
      <div class="item">
        <a href="studyrecord.html">
        <%= link_to studyrecord_path do %>
          <div class="text"><i class="fas fa-book"></i>STUDY RECORD</div>
        <% end %>
        </a>
      </div>

      <div class="item">
        <%= link_to new_email_path do %>
          <div class="text"><i class="fas fa-envelope-square"></i>CONTACT</div>
        <% end %>
      </div>

      <div class="item">
        <%= link_to japanese_path do %>
          <div class="text"><i class="fas fa-home"></i>JAPANESE</div>
        <% end %>
      </div>      

      <div class="item">
        <%= link_to root_path do %>
          <div class="text"><i class="fas fa-home"></i>ENGLISH</div>
        <% end %>
      </div>      
    </div>  
               
    <div class="header-phone">
      <input type="checkbox" id="input">
      <label for="input"><div class="line"></div><div class="line"></div><div class="line"></div></label>
      <div class="content">
        <ul>
          <li><%= link_to studyrecord_path do %>STUDY RECORD<% end %></li>
          <li><%= link_to new_email_path do %>CONTACT<% end %></li>
          <li><%= link_to japanese_path do %>JAPANESE<% end %></li>      
          <li><%= link_to root_path do %>ENGLISH<% end %></li>    
        </ul>
      </div>
    </div>

  <div class="popup">
  <%= flash[:notice] %></div>

    <%= yield %>
  </body>
</html>

